/.metadata/
Programmers/.metadata/.lock
Programmers/.metadata/.log
Programmers/.metadata/.mylyn/repositories.xml.zip
Programmers/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Programmers/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
Programmers/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
Programmers/.metadata/.plugins/org.eclipse.core.resources/.projects/JAVA/.indexes/properties.index
Programmers/.metadata/.plugins/org.eclipse.core.resources/.projects/JAVA/.markers.snap
Programmers/.metadata/.plugins/org.eclipse.core.resources/.projects/JAVA/.syncinfo.snap
Programmers/.metadata/.plugins/org.eclipse.core.resources/.projects/JAVA/org.eclipse.egit.core/GitProjectData.properties
Programmers/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Programmers/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
Programmers/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Programmers/.metadata/.plugins/org.eclipse.core.resources/0.snap
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
Programmers/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
Programmers/.metadata/.plugins/org.eclipse.jdt.core/1393164717.index
Programmers/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
Programmers/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Programmers/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Programmers/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Programmers/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Programmers/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2022/5/20/refactorings.history
Programmers/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2022/5/20/refactorings.index
Programmers/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Programmers/.metadata/.plugins/org.eclipse.core.resources/.history/9a/80d0862acad1001c159bff9cee5e014f
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
Programmers/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
